.cart-items {
   max-height: 20rem;

   list-style: none;
   margin: 0;
   overflow-y: auto;
   padding: 0;
}

.total {
   font-weight: bold;
   font-size: 1.5rem;
   margin: 1rem 0;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.actions {
   text-align: right;
}

.actions button {
   background-color: transparent;
   border: 1px solid #8a2b06;
   border-radius: 25px;
   cursor: pointer;
   font: inherit;
   margin-left: 1rem;
   padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
   background-color: #5a1a01;
   border-color: #5a1a01;
   color: white;
}

.actions .button--alt {
   color: #8a2b06;
}

.actions .button {
   background-color: #8a2b06;
   color: white;
}